.Frame1{
  background: linear-gradient(to bottom, #bbcbd8, #878787);
  background-size: cover;
  background-repeat: no-repeat;


  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  color: white;

}
