<<<<<<< Updated upstream
.example-spacer {
    flex: 1 1 auto ;

}
.contenedor-logo{
    display: flex;
    align-items: center;
    gap: 20px
}


.mat-toolbar.mat-primary {
    background:rgb(144, 122, 122)
=======
/* Media query para pantallas de 970px o menos */
@media (max-width: 992px) {
  .navbar-nav {
    text-align: center; /* Alineación central para .navbarSupportedContent */
  }

  /* Alineación central para los elementos .navbar-nav y .brand */
  .navbar-nav {
    text-align: center;
  }

.navbar-expand-lg{
  backdrop-filter: blur(10px); /* Ajusta el valor de desenfoque según tus preferencias */
  background-color: rgba(18, 18, 18, 0.1);

  @media (max-width: 319px) {
    display: none;
    }
>>>>>>> Stashed changes
}
}

<<<<<<< Updated upstream
.header-play{
    margin-right: 20px;
}
.header-X
{
    margin-right: 20px;
    opacity: 0;
}
=======
.nav-link:hover{
  color: rgb(156, 144, 133);
}

>>>>>>> Stashed changes
