<header>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="contenedor-logo">
            <img src="https://i.ytimg.com/an/te53PewI8_jYpBYn071MqQ/featured_channel.jpg?v=607a01f4" width="60" height="60" alt="Logo" />
            <span>Etronic</span>
        </div>
        <span class="example-spacer"></span>
        <div class="buttons-header">
            <button mat-raised-button color="accent" class="header-X" aria-label="Scape">
                <span class="material-icons">
                    close
                </span>
            </button>
            <button mat-raised-button color="accent" class="header-home" aria-label="Go home">
                Home
            </button>
            <button mat-raised-button color="accent" class="header-AboutUs" aria-label="About Etronic">
                About us
            </button>
            <button mat-raised-button color="accent" class="header-play" aria-label="Start Playing">
                Play
            </button>
        </div>
        
      </mat-toolbar>
</header>
